@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
/* Google fonts imports because so easy */

/* font-family: 'IBM Plex Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-white: #fff;
  --main-blue: #0882ff;
  --main-black: #000000;
  --accent-green: #55f676;
  --accent-red: #ff6831;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Otomanopee+One&display=swap');

.page {
    background-color:rgba(164, 164, 162, 1);
    box-sizing: border-box;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    margin-bottom: 50px;
    height: 100px;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(75, 77, 73, 0))
}

.header__title {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 40px;
    /* color: #2F5D62; */
    color: white;
    margin: 0;

}

.header__subtitle {
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    margin: 20px 0 0 0;
    color: white;
}

.animals-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 95%;
    margin: auto;
}

.animal {
    text-align: center;
    background-color: white;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(197 195 195, 0.7);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 395px;
    max-height: 395px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);

}

.animal:hover {
    box-shadow: 5px 5px 20px rgb(197 195 195);
    transform: translate3D(0, -1px, 0) scale(1.03);
}

.animal__text-group {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  text-align: left;
}

.animal__name {
    font-family: 'Otomanopee One', sans-serif;
    color: white;
    margin-left: 30px;
}

.animal__button {
    background-color: rgba(222, 137, 113, .5);
    font-family: 'Mukta', sans-serif;
    color: white;
    width: 150px;
    border: 0;
    padding:10px;
    border-radius: 5px;
    font-size: 20px;
    transition: opacity 0.3s ease;
    margin-left: 30px;
    margin-bottom: 20px;
}

.animal__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
  }

  .popup_active {
    visibility: visible;
    opacity: 1;
  }

  .popup__container {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 90vh;
      background-color: rgb(237, 235, 211);
      border-radius: 20px;
      overflow-y: scroll;
      position: relative;
  }

  .popup__content {
      width: 70%;
      margin: 0 auto;
  }
  .popup__image {
      margin: 0 auto;
      width: 100%;
      height: 400px;
      object-fit:cover;
      text-align: center;
      display: block;
  }

  .popup__heading {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 30px;

  }

  .popup__description {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  .popup__close-button-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 15px;
    right: 0;
    z-index: 1000;
  }

  .popup__close-button {
      background-image: url(./images/favicon/delete-icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 30px;
      min-height: 30px;
      height: 30px;
      width: 30px;
      background-size: contain;
      border: none;
      background-color: transparent;
      cursor: pointer;
  }

  .sponsor {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 75px;
    padding-bottom: 100px;
  }

  .sponsor__title {
    text-align: center;
    font-size: 55px;
    margin: 0;
  }
  .pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 30px auto;
  }
  
  .pricing__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #6E728E;
    opacity: 50%;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(251, 211, 125);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(251, 211, 125);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(251, 211, 125);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
  }
  
  .card {
    text-align: center;
    border-radius: 5px;
    width: 45%;
  }

  .card_type_premium {
    color: white;
    background: linear-gradient(rgb(251, 211, 125), rgb(252, 228, 175));
  }
    
  .card_type_basic {
      color: #4A4D60;
      background-color: white;
  }
    
  .card__title {
    font-size: 40px;
    margin: 31px auto 24px auto;   
  }

    
    .card__price-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 24px auto 32px auto;
    }
    
    .card__price {
      font-size: 72px;
      font-weight: 700;
      line-height: 71px;  
      letter-spacing: -2.16px;
      margin: 0;
    }
    
    .dollar-sign {
      font-size: 40px;
      margin: 0;
      margin-right: 8px;
      height: 49px;
    }
    
    .card__description-group {
      color: #6E728E;
      margin: 32px 0;
    }
    
    .card__description-group_premium {
      color: white;
    }
    
    .card__description {
      width: 288px;
      border-top: 1px solid rgba(110, 114, 142, 0.25);
      border-bottom: 1px solid rgba(110, 114, 142, 0.25);
      margin: 0 auto;
      padding: 12px 0 12px 0;
      font-size: 15px;
      line-height: 28px;
    }
    
    .card__description_premium {
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .card__description_no-border {
      border: none;
    }
    
    .card__button {
      font-family: "Montserrat", sans-serif;
      width: 288px;
      height: 44px;
      border: none;
      border-radius: 5px;
      transition: opacity 0.4s linear;
      cursor: pointer;
      margin: 0 auto 10px auto;
      background-color: black;
      color: white;
      font-weight: 700;
      font-size: 13px;
      line-height: 15.85px;
      letter-spacing: 1.39px; 
      text-transform: uppercase;
    }
    
    .card__button_type_premium {
      background-color: white;
      color: rgb(251, 211, 125);
    }
    
    
    .card__button:hover {
      opacity: 0.8;
    }


    .sponsor__message {
      margin: 50px auto 0 auto;
    }

    .sponsor__message-text {
      font-size: 40px;
      text-align: center;
      font-family: "Otomanopee One", sans-serif;
    }



  .footer {
    margin-top: -50px;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  }

  .footer__text {
    font-size: 25px;
    font-family: "Mukta", sans-serif;
    color: white;
    margin-left: 50px;
    padding-top: 75px;
  }
