.animals-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 95%;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .animals-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .animals-container {
        grid-template-columns: 1fr;
    }
}