.header__title {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .header__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .header__title {
        font-size: 23px;
    }
}